.task {
  margin-top: 50px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.gallery li {
  flex-basis: calc(33% - 10px);
}

.gallery img {
  width: 100%;
  display: block;
}
