.gallery {
  display: flex;
  gap: 20px;
  list-style: none;
  flex-wrap: wrap;
}
.gallery-item {
  width: calc((100% - 40px) / 3);
}
.gallery-image {
  width: 100%;
  height: auto;
  display: block;
}
